<footer class="page-footer #90a4ae blue-grey lighten-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <img src="../../../assets/img/logo.png">
                    <p class="grey-text text-lighten-4">Livraria online</p>
                </div>
                
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright Text
                <a class="grey-text text-lighten-4 right" href="sobre/{{usuario}}">Sobre o site!</a>
            </div>
        </div>
    </footer>
