button[name="drop"]{
    border: none;
    cursor: pointer;
    background-color: #FF7F40;
    padding: 10px;
    font-size: 15px;
    color: white;
  }

  .drop-content{
    display: none;
    background-color: #E4A87A;
}

.drop-content a{
    color: white;
    padding: 1px ;
    text-decoration: none;
    display: block;
  }

  .categoria-drop:hover .drop-content{
    display: block;
  }

  .categoria-drop:hover button[name="drop"]{
    background-color: #E2703D
  }

.drop-content a:hover{
    background-color: #C9936F;
  }
  header{
    height:50px;
    float:top;
    position:fixed;
}

