<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
<script>
    // menu mobile
    $(".button-collapse").sideNav();
    $(document).ready(function () {
        $('.parallax').parallax();
    });
    $('#dropdown').dropdown();
    $('.dropdown-trigger').dropdown();

    // object-fit polyfill run
objectFitImages();

/* init Jarallax */
jarallax(document.querySelectorAll('.jarallax'));

jarallax(document.querySelectorAll('.jarallax-keep-img'), {
    keepImg: true,
});

    
</script>
<div class="content">
    {{usuario| json}}

    <div class="container pt-5 ">


        <div class="row  z-depth-3 #e0e0e0 grey lighten-2 p-3 item">
            <div class="col-md-12 mt-5">
                    <div class="row">  
                    <br>
                    <div class="col-md-2  text-center">
                        <a class="booktitle" href="https://baldochi.unifei.edu.br/COM222/trabfinal/imagens/{{livros_description[n1].ISBN }}.01.LZZZZZZZ.jpg">
                            <img src="https://baldochi.unifei.edu.br/COM222/trabfinal/imagens/{{livros_description[n1].ISBN }}.01.THUMBZZZ.jpg">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <p><strong><a routerLink="/informacao-livro/{{livros_description[n1].ISBN }}"> {{livros_description[n1].title }}</a></strong>
                        <br>

                        {{livros_description[n1].description | slice:0:150}}
                        <a routerLink="/informacao-livro/{{usuario}}/{{livros_description[n1].ISBN }}">mais...</a> </p>
                    </div>
                    
                </div>


            </div>     
        </div>
        
        <div class="row  z-depth-3 #e0e0e0 grey lighten-2 p-3 item">
                <div class="col-md-12 mt-5">
                    <div class="row">
                        <br>
                        <div class="col-md-2  text-center">
                            <a class="booktitle" href="https://baldochi.unifei.edu.br/COM222/trabfinal/imagens/{{livros_description[n2].ISBN }}.01.LZZZZZZZ.jpg">
                                <img src="https://baldochi.unifei.edu.br/COM222/trabfinal/imagens/{{livros_description[n2].ISBN }}.01.THUMBZZZ.jpg">
                            </a>
                        </div>
                        <div class="col-md-6">
                            <p><strong><a routerLink="/informacao-livro/{{usuario}}/{{livros_description[n2].ISBN }}"> {{livros_description[n2].title }}</a></strong>
                            <br>
    
                            {{livros_description[n2].description | slice:0:150}}
                            <a routerLink="/informacao-livro/{{usuario}}/{{livros_description[n2].ISBN }}">mais...</a> </p>
                        </div>
                        
                    </div>
    
    
                </div>     
        </div>
       
        <div class="row  z-depth-3 #e0e0e0 grey lighten-2 p-3 item">
            <div class="col-md-12 mt-5">
                <div class="row">
                    <br>
                    <div class="col-md-2  text-center">
                        <a class="booktitle" href="https://baldochi.unifei.edu.br/COM222/trabfinal/imagens/{{livros_description[n3].ISBN }}.01.LZZZZZZZ.jpg">
                            <img src="https://baldochi.unifei.edu.br/COM222/trabfinal/imagens/{{livros_description[n3].ISBN }}.01.THUMBZZZ.jpg">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <p><strong><a routerLink="/informacao-livro/{{usuario}}/{{livros_description[n3].ISBN }}"> {{livros_description[n3].title }}</a></strong>
                        <br>

                        {{livros_description[n3].description | slice:0:150}}
                        <a routerLink="/informacao-livro/{{usuario}}/{{livros_description[n3].ISBN }}">mais...</a> </p>
                    </div>
                    
                </div>


            </div>     
        </div>

    </div>

</div>


 