<div class="content" > 

    <!-- apresentação de qualquer livro, se clicar numa categoria, aparece os daquela categori, portanto é bom colocar um arquivo showBooks.php -->
  <div class="container pt-5 ">

      <div class="row">

        <div class="col-md-12 mr-2" style="background-color: beige;">
          <h3>Sobre o site</h3>
            <p class="text-center">Para a criação desse site, usamos:
                  <br>
                <a href="https://angular.io/">Angular</a><br>
                <a href="https://www.typescriptlang.org/">Typescript</a><br>
                <a href="https://www.javascript.com/">JavaScript</a><br>
                <a href="https://nodejs.org/en/">Node</a><br>
                <a href="https://www.mysql.com/">MySQL</a><br>
                <a href="#">HTML5</a><br>
                <a href="#">CSS</a><br>
                <a href="https://getbootstrap.com/docs/4.3/getting-started/introduction/">Bootstrap</a><br>
                <a href="https://materializecss.com/">Materialize</a><br>

            </p>

          
        </div>

        
      </div> 

  </div>
</div>

